// Colors
$dark-grey: #333333;
$light-blue: #3498db;
$off-white: #f1f2f6;
$orange: #ff7f50;

// Font Size
$m-font: 1.6rem;
$l-font: 1.8rem;
$s-font: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;